/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.custom-table thead tr th{
	border-top: 0px;
}

.custom-table tbody tr td{
	overflow: visible;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-top: 0px;
}

.custom-table-2 tbody tr td{
	overflow: visible;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.check-cursos-planos{
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	padding: 10px;
	margin-right: 15px;
}

.dropdown-cursos-planos{
	max-height: 200px;
	overflow: scroll;
}

.datepicker{
	z-index: 1999 !important;
}

.dicas-mercado{
	margin-bottom: 3px !important;
}

.card-title-blog{
	font-size: 1.5rem;
}

@media only screen and (max-width: 1600px) {
	#bonus-diario{
		margin-top:-40px;
	}
}
@media only screen and (max-width: 1400px) {
	#bonus-diario{
		margin-top:-100px;
	}
}
@media only screen and (max-width: 1200px) {
	#bonus-diario{
		margin-top:-120px;
	}
}
@media only screen and (max-width: 1000px) {
	#bonus-diario{
		margin-top: 0px;
	}
}
